@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',
        sans-serif;
}

.images {
    text-align: center;
    text-transform: capitalize;
    width: 80vw;
    margin: 0 auto 10rem auto;
}

.small {
    width: 20%;
}

.single-image {
    border: 3px solid red;
    padding: 1rem 0;
}

@media screen and (min-width:992px) {
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    .small {
        width: 10%;
    }
}